spring:
  application:
    name: user-service

  datasource:
    url: jdbc:mysql://localhost:3307/user_db?createDatabaseIfNotExist=true
    username: root
    password: "Akshu46#"
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect

server:
  port: 8081

jwt:
  secret: MySuperSuperSecretKeyThatIsLongEnough1234
  expiration: 3600000

service:
  wallet:
    base-url: http://localhost:8082/wallets
    admin-url: http://localhost:8082/admin/wallets




